<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{currentCategoryName }}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-boc">
            <a routerLink="/products/{{ tempProduct.id }}">
              <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
          </a>
          <a routerLink="/products/{{ tempProduct.id }}">
              <h2>{{ tempProduct.name}}</h2>
          </a>
              <div class="price" >{{ tempProduct.unitPrice | currency:'USD'}}</div>
              <a href="#" class="primary-btn">Add to cart</a>
          </div>
          <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
                No products
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- <tr *ngFor="let tempProduct of products">
  <td class="align-middle">
      <img src="{{ tempProduct.imageUrl }}" height="50" />
  </td>
  <td class="align-middle">{{ tempProduct.name}}</td>
  <td class="align-middle">{{ tempProduct.unitPrice | currency:'USD'}}</td>
  <td class="align-middle">{{ tempProduct.unitsInStock}}</td>
</tr> -->
